
@mixin font-face($name, $url,$weigth:100 200 300 400 500 600 700 800 900, $style: normal italic) {
	@each $w in $weigth {
		@each $st in $style {
			@font-face {
				font-family: quote($name);
				font-style: $st;
				font-weight: $w;
				src: url('media/fonts/#{$url}');
			}
		}
	}
}


@include font-face('Lato', 'Lato', 100 300 500 700 900);
@include font-face('Montserrat', 'Montserrat')

