$white: #f5ffff;
$primary-dark: #bf5f82;
$primary-middle: #F77CA8;
$primary: #ffc1e3;
$danger: #f02;
$accept: #30a605;

$font-color: #707070;

$font-title: 'Montserrat';
$font-body: Lato, Helvetica, sans-serif;


$default-shadow: 3px 10px 7px rgba(black, .16);


$smb: 435px;
$mb: 600px;
$tb: 768px;

$tr_t: .75s;
